.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 31.98px;
  border: none;
  background: #2f80ed;
  border-radius: 8px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;

  color: #ffffff;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
