.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.imageUploader {
  width: 402px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.title {
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 12px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;

  color: #4f4f4f;
}

.helpText {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 125px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.035em;

  color: #828282;
}

.imageUploadPrompt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.035em;
  margin-top: 20px;
  color: #bdbdbd;
}

.dragDropImage {
  margin: 0 auto;
  width: 338px;
  height: 218.9px;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 12px;
}

.dragDropImage input {
  width: 114.13px;
  height: 88.24px;
  margin: 0 auto;
  margin-top: 36px;
}

.imageUploadLabel {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  top: 427.97px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;

  color: #bdbdbd;
}

.successfulUpload .checkMark {
  margin: 39.5px auto 11.3px auto;
}

.successfulUpload .successText {
  width: 198px;
  height: 27px;

  margin: 0 auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-align: center;
  letter-spacing: -0.035em;

  color: #4f4f4f;
}

.successfulUpload .imagePreview {
  width: 338px;
  max-width: 100%;
  height: auto;

  margin: 25.34px auto;

  border-radius: 12px;
}

.successfulUpload .copyLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 338px;
  height: 34px;
  margin: 0 auto;
  margin-bottom: 33px;
  background: #f6f8fb;

  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.successfulUpload .copyLink .imageLink {
  width: 240px;
  height: 12px;
  margin-bottom: 0;
  margin-left: 7px;
  flex: auto;
  text-align: start;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;

  letter-spacing: -0.035em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #4f4f4f;
}

.copyLinkToClipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 74px;
  height: 30px;
  margin: 2px 2px 2px 14px;

  background: #2f80ed;
  border-radius: 8px;
}

.copyLinkToClipboard:hover {
  opacity: 0.5;
}

.copyLinkToClipboardText {
  width: 37px;
  height: 12px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;

  text-align: center;
  letter-spacing: -0.035em;

  color: #ffffff;
}
.chooseAFile {
  margin-bottom: 36px;
}
